<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deletar Anotação - Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link type="image/png" href="{% static "img/logo2a.PNG" %}" rel="icon">
  <link href="{% static "img/logo.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "vendor/quill/quill.snow.css" %}" rel="stylesheet">
  <link href="{% static "vendor/quill/quill.bubble.css" %}" rel="stylesheet">
  <link href="{% static "vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "vendor/simple-datatables/style.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="background-color:rgb(76, 87, 90);">
    <div class="d-flex align-items-center justify-content-between">
      <a href="index" class="d-flex align-items-center">
        <img src="{% static "img/clinicaeh.jpeg" %}" height="50px">
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2" style="color: white;">{{ user.username }}</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ user.username }}</h6>
              <span>
                {% if user.groups.all %}
                  {% for group in user.groups.all %}
                      {{ group.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% else %}
                    Nenhum grupo
                {% endif %}
              </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pagina_usuario">
                <i class="bi bi-person"></i>
                <span>Minha conta</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <form action="{% url 'logout' %}" method="POST" class="dropdown-item d-flex align-items-center">{% csrf_token %}
                <button class="dropdown-item d-flex align-items-center" type="submit">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Fazer logout</span>
                </button>
              </form>
            </li>
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'index'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'pacientes'%}">
            <i class="bi bi-person"></i>
            <span>Pacientes</span>
          </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'calendario' %}">
            <i class="bi bi-calendar"></i>
            <span>Calendario</span>
          </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'financeiro'%}">
            <i class="bi bi-currency-dollar"></i>
            <span>Financeiro</span>
          </a>
        </li>
      </ul>
  </aside><!-- End Sidebar -->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Deletar Arquivo</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active">Deletar Arquivo</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="card">
        <div class="card-body">
          <form method="post"> {% csrf_token %}
            <h5 class="card-title">Deletando o Arquivo: {{ object.pdf_file.name }}</h5>
            <p class="card-text">Tem certeza que quer deletar esse arquivo?</p>
            <p class="card-text"><button type="submit" class="btn btn-danger">Confirmar</button></p>
            <p class="card-text"><a href="{% url 'pagina_paciente' paciente_id=object.paciente_id %}" class="btn btn-secondary">Cancelar</a></p>
          </form>
        </div>
      </div><!-- End Card with titles, buttons, and links -->
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendor/simple-datatables/simple-datatables.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>

</body>
</html>
